      /* GENERAL */
      @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
      *{
          box-sizing: border-box;
          margin: 0;
          padding: 0;
      }
      body {
          font-family: "Trirong", serif;
         background: rgb(215, 215, 215);
      }
      h2{
          text-align: center; 
          margin: 2em;
          color: beige;
      }
      

/* RESPONSIVE BY MEDIA QUERIES */
/* Dispositifs très petits (téléphones, 600px et moins) */
@media only screen and (max-width: 600px) {
     
/* MENU DE NAVIGATION */

.nav-links{
    list-style: none;
    float: right;
    font-size: 1.2em;
}

.nav-links .line-link{
    display: inline-block;
    padding: 0px 5px;
    
}

.nav-links .line-link .link-item-navbar{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
}

.nav-links .line-link .link-item-navbar:hover{
    color: rgb(145, 145, 145);
}


/* BANNERS */

.title-barnner{
    font-size:2em;
}

.para-barnner{
    font-size:1em;
}

#home{
    height:50vh;
    width: 100vw;
    background-size: cover;
    text-align: left;
    background-image: url("images/stevejobs.jpg");  
    color: white;
}

/* BIOGRAPHIE */

.img-bio img{
    width: 100%;
    height: 100%;
}

.para-bio{
    margin: 2em;
}
.text-bio{
    font-weight: 900;
    font-size: 3em;
}

/* FONCTIONS */
.functions{
    margin: 4em;
    text-align: center;
}
.list-functions{
    display: inline-block; 
    justify-content: space-around;
   list-style-type: none;
}
.logo-function{
    width: 125px;
    height: 75px;
    margin: 30px;
}
.year{
    font-style: italic;
    text-align: center;
    padding-bottom: 2em;

}
.title-function, .text-function{
    text-align: center;
    font-size: 20px;
}

/* ACTIVITES */
.para-activities{
    margin: 2em;
    text-align: center;
}
.text-activities{
    font-style: italic;
    font-weight: 600;
}

/* FOOTER */
footer{
    background-color: rgb(53, 53, 53);
}
.para-footer{
    text-align: center;
    color: beige;
}
  }

  /* Petits appareils (tablettes en format portrait et grands téléphones, 600px et plus) */
  @media only screen and (min-width: 600px) {
   
/* MENU DE NAVIGATION */

.nav-links{
    list-style: none;
    float: right;
    font-size: 1.2em;
}

.nav-links .line-link{
    display: inline-block;
    padding: 0px 10px;
    
}

.nav-links .line-link .link-item-navbar{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
}

.nav-links .line-link .link-item-navbar:hover{
    color: rgb(145, 145, 145);
}


/* BANNERS */

.title-barnner{
    font-size:3em;
}

.para-barnner{
    font-size:1.5em;
}

#home{
    height:100vh;
    width: 100vw;
    background-size: cover;
    text-align: left;
    background-image: url("images/stevejobs.jpg");  
    color: white;
}

/* BIOGRAPHIE */

.img-bio img{ 
    margin: auto;
    width: 100%;
    height: 100%;
}

.para-bio{
    margin: 2em;
}
.text-bio{
    font-weight: 900;
    font-size: 3em;
}

/* FONCTIONS */
.functions{
    margin: 4em;
    text-align: center;
}
.list-functions{
    display: inline-block; 
    justify-content: space-around;
   list-style-type: none;
}
.logo-function{
    width: 125px;
    height: 75px;
    margin: 30px;
}
.year{
    font-style: italic;
    text-align: center;
    padding-bottom: 2em;

}
.title-function, .text-function{
    text-align: center;
    font-size: 20px;
   
}

/* ACTIVITES */
.para-activities{
    margin: 2em;
    text-align: center;
}
.text-activities{
    font-style: italic;
    font-weight: 600;
}

/* FOOTER */
footer{
    background-color: rgb(53, 53, 53);
}
.para-footer{
    text-align: center;
    color: beige;
}
}

  /* Appareils de taille moyenne (tablettes en format paysage, 768px et plus) */
  @media only screen and (min-width: 768px) {
    
/* MENU DE NAVIGATION */

.nav-links{
    list-style: none;
    float: right;
    font-size: 1.2em;
}

.nav-links .line-link{
    display: inline-block;
    padding: 0px 1px;
    
}

.nav-links .line-link .link-item-navbar{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
}

.nav-links .line-link .link-item-navbar:hover{
    color: rgb(145, 145, 145);
}


/* BANNERS */

.title-barnner{
    font-size:3em;
}

.para-barnner{
    font-size:1.5em;
}

#home{
    height:50vh;
    width: 100vw;
    background-size: cover;
    text-align: left;
    background-image: url("images/stevejobs.jpg");  
    color: white;
}

/* BIOGRAPHIE */

.img-bio img{ 
    margin: auto;
    width: 100%;
    height: 100%;
}
.para-bio{
    margin: 2em;
}
.text-bio{
    font-weight: 900;
    font-size: 3em;
}

/* FONCTIONS */
.functions{
    margin: 4em;
}
.list-functions{
    display: flex; 
    justify-content: space-evenly;
   list-style-type: none;
}
.logo-function{
    width: 125px;
    height: 75px;
    margin: 30px;
    
}
.year{
    font-style: italic;
    text-align: center;
}
.title-function, .text-function{
    text-align: center;
    font-size: 20px;
   
}

/* ACTIVITES */
.para-activities{
    margin: 2em;
    text-align: center;
}
.text-activities{
    font-style: italic;
    font-weight: 600;
}

/* FOOTER */
footer{
    background-color: rgb(53, 53, 53);
}
.para-footer{
    text-align: center;
    color: beige;
}
  } 

  /* Appareils de grande taille (ordinateurs portables/de bureau, 992px et plus) */
  @media only screen and (min-width: 992px) {

/* MENU DE NAVIGATION */

.nav-links{
    list-style: none;
    float: right;
    font-size: 1.2em;
}

.nav-links .line-link{
    display: inline-block;
    padding: 0px 10px;
    
}

.nav-links .line-link .link-item-navbar{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
}

.nav-links .line-link .link-item-navbar:hover{
    color: rgb(145, 145, 145);
}


/* BANNERS */

.title-barnner{
    font-size:6em;
}

.para-barnner{
    font-size:3em;
}

#home{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    text-align: left;
    background-image: url("images/stevejobs.jpg");  
    color: white;
}

/* BIOGRAPHIE */

.img-bio{ 
    float: right;
    margin: 2em;
    width: auto;
    height: auto;
}

.para-bio{
    margin: 2em;
}
.text-bio{
    font-weight: 900;
    font-size: 3em;
}

/* FONCTIONS */
.functions{
    margin: 4em;
}
.list-functions{
    display: flex; 
    justify-content: space-evenly;
   list-style-type: none;
}
.logo-function{
    width: 125px;
    height: 75px;
    margin: 30px;
    
}
.year{
    font-style: italic;
    text-align: center;
}
.title-function, .text-function{
    text-align: center;
    font-size: 20px;
   
}

/* ACTIVITES */
.para-activities{
    margin: 2em;
    text-align: center;
}
.text-activities{
    font-style: italic;
    font-weight: 600;
}

/* FOOTER */
footer{
    background-color: rgb(53, 53, 53);
}
.para-footer{
    text-align: center;
    color: beige;
}
  } 
  
/* Dispositifs extra-larges (ordinateurs portables et de bureau de grande taille, 1200px et plus) */
  @media only screen and (min-width: 1200px) {

/* MENU DE NAVIGATION */

.nav-links{
    list-style: none;
    float: right;
    font-size: 1.2em;
}

.nav-links .line-link{
    display: inline-block;
    padding: 0px 10px;
    
}

.nav-links .line-link .link-item-navbar{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
}

.nav-links .line-link .link-item-navbar:hover{
    color: rgb(145, 145, 145);
}


/* BANNERS */

.title-barnner{
    font-size:8em;
}

.para-barnner{
    font-size:4em;
}

#home{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    text-align: left;
    background-image: url("images/stevejobs.jpg");  
    color: white;
}

/* BIOGRAPHIE */

.img-bio{ 
    float: right;
    margin: 2em;
    width: auto;
    height: auto;
}

.para-bio{
    margin: 2em;
}

.text-bio{
    font-weight: 900;
    font-size: 3em;
}

/* FONCTIONS */

.functions{
    margin: 2em;
}
.list-functions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   list-style-type: none;
}
.logo-function{
    width: 250px;
    height: 150px;
    margin: 15px;
}
.year{
    font-style: italic;
    text-align: center;
}
.title-function, .text-function{
    text-align: center;
}

/* ACTIVITES */
.para-activities{
    margin: 2em;
    text-align: center;
}
.text-activities{
    font-style: italic;
    font-weight: 600;
}

/* FOOTER */
footer{
    background-color: rgb(53, 53, 53);
}
.para-footer{
    text-align: center;
    color: beige;
}
  }
    
    


























      